services:
  app:
    image: henrygd/beszel
    restart: unless-stopped
    extra_hosts:
      - host.docker.internal:host-gateway
    environment:
      - CADDY_DOMAIN=${CADDY_DOMAIN}
      - CADDY_TYPE=${CADDY_TYPE:-external}
      - CADDY_PORT=${CADDY_PORT:-8090}
    volumes:
      - app_data:/beszel_data
    networks:
      - caddy

volumes:
  app_data:

networks:
  caddy: